<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>پیش بینی قیمت خونه دیوار</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='icon.jpg') }}" alt="لوگو" class="logo">
        <h1>پیش بینی قیمت خونه دیوار</h1>
    </div>

    <div class="form-container">
        <form method="POST" action="/predict">
            <!-- بخش جستجو و انتخاب آدرس -->
            <div class="form-group">
                <label for="addressSearch">جستجوی آدرس:</label>
                <input type="text" id="addressSearch" class="search-input" placeholder="جستجوی محله...">
                
                <label for="address">انتخاب آدرس:</label>
                <select id="address" name="address" required>
                    <option value="">لطفا یک آدرس انتخاب کنید</option>
                    <option value="درکه">درکه</option>
                    <option value="زعفرانیه">زعفرانیه</option>
                    <option value="جابری">جابری</option>
                    <option value="دهکده المپیک">دهکده المپیک</option>
                    <option value="حکیمیه">حکیمیه</option>
                    <option value="شهرک غرب">شهرک غرب</option>
                    <option value="سعادت‌آباد">سعادت‌آباد</option>
                    <option value="خاوران">خاوران</option>
                    <option value="سازمان آب">سازمان آب</option>
                    <option value="مرزداران">مرزداران</option>
                    <option value="دارآباد">دارآباد</option>
                    <option value="شاهین">شاهین</option>
                    <option value="شهر زیبا">شهر زیبا</option>
                    <option value="سازمان برنامه">سازمان برنامه</option>
                    <option value="باغ فیض">باغ فیض</option>
                    <option value="جنت‌آباد مرکزی">جنت‌آباد مرکزی</option>
                    <option value="پونک">پونک</option>
                    <option value="نیاوران">نیاوران</option>
                    <option value="جیحون">جیحون</option>
                    <option value="سیدخندان">سیدخندان</option>
                    <option value="سهروردی">سهروردی</option>
                    <option value="ازگل">ازگل</option>
                    <option value="چیتگر">چیتگر</option>
                    <option value="دروس">دروس</option>
                    <option value="هروی">هروی</option>
                    <option value="جمهوری">جمهوری</option>
                    <option value="الهیه">الهیه</option>
                    <option value="تهرانپارس غربی">تهرانپارس غربی</option>
                    <option value="دریاچه شهدای خلیج فارس">دریاچه شهدای خلیج فارس</option>
                    <option value="نیلوفر">نیلوفر</option>
                    <option value="میرداماد">میرداماد</option>
                    <option value="قیطریه">قیطریه</option>
                    <option value="فرمانیه">فرمانیه</option>
                    <option value="سوهانک">سوهانک</option>
                    <option value="کوی فردوس">کوی فردوس</option>
                    <option value="جنت‌آباد جنوبی">جنت‌آباد جنوبی</option>
                    <option value="تهران‌سر">تهران‌سر</option>
                    <option value="استاد معین">استاد معین</option>
                    <option value="اختیاریه">اختیاریه</option>
                    <option value="طیب">طیب</option>
                    <option value="ستارخان">ستارخان</option>
                    <option value="نارمک">نارمک</option>
                    <option value="کاظم‌آباد">کاظم‌آباد</option>
                    <option value="شهرک ولیعصر">شهرک ولیعصر</option>
                    <option value="دریا">دریا</option>
                    <option value="شهران جنوبی">شهران جنوبی</option>
                    <option value="ونک">ونک</option>
                    <option value="حصار بوعلی">حصار بوعلی</option>
                    <option value="شهرک پرواز">شهرک پرواز</option>
                    <option value="بهار">بهار</option>
                    <option value="المهدی">المهدی</option>
                    <option value="اباذر">اباذر</option>
                    <option value="شکوفه">شکوفه</option>
                    <option value="شمس‌آباد">شمس‌آباد</option>
                    <option value="کوی فراز">کوی فراز</option>
                    <option value="شهرک نفت (منطقه ۵)">شهرک نفت (منطقه ۵)</option>
                    <option value="اندیشه (شهر زیبا)">اندیشه (شهر زیبا)</option>
                    <option value="سرو آزاد">سرو آزاد</option>
                    <option value="جردن">جردن</option>
                    <option value="آذربایجان">آذربایجان</option>
                    <option value="بلوار کشاورز">بلوار کشاورز</option>
                    <option value="گیشا (کوی نصر)">گیشا (کوی نصر)</option>
                    <option value="میدان حر">میدان حر</option>
                    <option value="شهران شمالی">شهران شمالی</option>
                    <option value="کوی مهران">کوی مهران</option>
                    <option value="وردآورد">وردآورد</option>
                    <option value="ولنجک">ولنجک</option>
                    <option value="عبدل‌آباد">عبدل‌آباد</option>
                    <option value="یوسف‌آباد">یوسف‌آباد</option>
                    <option value="امیرآباد">امیرآباد</option>
                    <option value="محمودیه">محمودیه</option>
                    <option value="گرگان">گرگان</option>
                    <option value="جی">جی</option>
                    <option value="نواب">نواب</option>
                    <option value="شهرآرا">شهرآرا</option>
                    <option value="پاسداران">پاسداران</option>
                    <option value="خلیج فارس">خلیج فارس</option>
                    <option value="ظفر">ظفر</option>
                    <option value="شادمهر">شادمهر</option>
                    <option value="نارمک جنوبی">نارمک جنوبی</option>
                    <option value="اقدسیه">اقدسیه</option>
                    <option value="هوانیروز">هوانیروز</option>
                    <option value="طرشت">طرشت</option>
                    <option value="شهرک راه‌آهن">شهرک راه‌آهن</option>
                    <option value="منصوریه (پل سیمان)">منصوریه (پل سیمان)</option>
                    <option value="توحید">توحید</option>
                    <option value="امامزاده قاسم">امامزاده قاسم</option>
                    <option value="دیلمان">دیلمان</option>
                    <option value="افسریه">افسریه</option>
                    <option value="گلاب دره">گلاب دره</option>
                    <option value="جلفا">جلفا</option>
                    <option value="کرمان">کرمان</option>
                    <option value="تهران‌ویلا">تهران‌ویلا</option>
                    <option value="عباس‌آباد">عباس‌آباد</option>
                    <option value="دزاشیب">دزاشیب</option>
                    <option value="جنت‌آباد شمالی">جنت‌آباد شمالی</option>
                    <option value="شارق شرقی">شارق شرقی</option>
                    <option value="سلسبیل">سلسبیل</option>
                    <option value="هاشم‌آباد">هاشم‌آباد</option>
                    <option value="ابوذر (منطقه ۱۵)">ابوذر (منطقه ۱۵)</option>
                    <option value="شهرک فردوس">شهرک فردوس</option>
                    <option value="شهرک محلاتی">شهرک محلاتی</option>
                    <option value="سلیمانی">سلیمانی</option>
                    <option value="مبارک‌آباد بهشتی">مبارک‌آباد بهشتی</option>
                    <option value="سبلان">سبلان</option>
                    <option value="کوهک">کوهک</option>
                    <option value="تاکسیرانی">تاکسیرانی</option>
                    <option value="قبا">قبا</option>
                    <option value="پیروزی">پیروزی</option>
                    <option value="تجریش">تجریش</option>
                    <option value="میدان ولیعصر">میدان ولیعصر</option>
                    <option value="صد دستگاه">صد دستگاه</option>
                    <option value="آرارات">آرارات</option>
                    <option value="سنگلج">سنگلج</option>
                    <option value="پلیس">پلیس</option>
                    <option value="صادقیه">صادقیه</option>
                    <option value="توانیر">توانیر</option>
                    <option value="تهرانپارس شرقی">تهرانپارس شرقی</option>
                    <option value="دولتخواه">دولتخواه</option>
                    <option value="اراج">اراج</option>
                    <option value="آبشار">آبشار</option>
                    <option value="شهرک دریا">شهرک دریا</option>
                    <option value="شادآباد">شادآباد</option>
                    <option value="فلاح">فلاح</option>
                    <option value="زمزم">زمزم</option>
                    <option value="گمرک">گمرک</option>
                    <option value="دروازه شمیران">دروازه شمیران</option>
                    <option value="آهنگ">آهنگ</option>
                    <option value="کامرانیه">کامرانیه</option>
                    <option value="امیر بهادر">امیر بهادر</option>
                    <option value="چیذر">چیذر</option>
                    <option value="مینا">مینا</option>
                    <option value="هاشمی">هاشمی</option>
                    <option value="دکتر هوشیار">دکتر هوشیار</option>
                    <option value="دانشگاه شریف">دانشگاه شریف</option>
                    <option value="صاحب الزمان">صاحب الزمان</option>
                    <option value="کوی بیمه">کوی بیمه</option>
                    <option value="شریف‌آباد">شریف‌آباد</option>
                    <option value="گلچین">گلچین</option>
                    <option value="سپهر">سپهر</option>
                    <option value="تهران‌نو">تهران‌نو</option>
                    <option value="مدائن">مدائن</option>
                    <option value="جوادیه">جوادیه</option>
                    <option value="خانی‌آباد">خانی‌آباد</option>
                    <option value="پرستار">پرستار</option>
                    <option value="اتابک">اتابک</option>
                    <option value="مولوی">مولوی</option>
                    <option value="حسین‌آباد">حسین‌آباد</option>
                    <option value="حکمت">حکمت</option>
                    <option value="نصرت">نصرت</option>
                    <option value="بریانک">بریانک</option>
                    <option value="امام سجاد(ع)">امام سجاد(ع)</option>
                    <option value="کوی هفدهم شهریور">کوی هفدهم شهریور</option>
                    <option value="یافت‌آباد">یافت‌آباد</option>
                    <option value="تولید دارو">تولید دارو</option>
                    <option value="کوثر">کوثر</option>
                    <option value="دولت‌آباد">دولت‌آباد</option>
                    <option value="مسعودیه">مسعودیه</option>
                    <option value="باغ فردوس">باغ فردوس</option>
                    <option value="نازی‌آباد">نازی‌آباد</option>
                    <option value="شهرک نفت (منطقه ۱)">شهرک نفت (منطقه ۱)</option>
                    <option value="شریف">شریف</option>
                    <option value="دربند">دربند</option>
                    <option value="سرآسیاب مهرآباد">سرآسیاب مهرآباد</option>
                    <option value="ارم">ارم</option>
                    <option value="ایران">ایران</option>
                    <option value="زهتابی">زهتابی</option>
                    <option value="شوش">شوش</option>
                    <option value="هفت چنار">هفت چنار</option>
                    <option value="جمال‌زاده">جمال‌زاده</option>
                    <option value="منیریه">منیریه</option>
                    <option value="امیریه">امیریه</option>
                    <option value="باغ خزانه">باغ خزانه</option>
                    <option value="نیرو هوایی">نیرو هوایی</option>
                    <option value="شهید دستغیب">شهید دستغیب</option>
                    <option value="شهرک ژاندارمری">شهرک ژاندارمری</option>
                    <option value="آشتیانی">آشتیانی</option>
                    <option value="آجودانیه">آجودانیه</option>
                    <option value="دانشگاه علم و صنعت">دانشگاه علم و صنعت</option>
                    <option value="دریان‌نو">دریان‌نو</option>
                    <option value="زنجان">زنجان</option>
                    <option value="خزانه">خزانه</option>
                    <option value="مقدم">مقدم</option>
                    <option value="خواجه نظام الملک">خواجه نظام الملک</option>
                    <option value="شیخ هادی">شیخ هادی</option>
                    <option value="خاقانی">خاقانی</option>
                    <option value="فاطمی">فاطمی</option>
                    <option value="شبیری">شبیری</option>
                    <option value="قلهک">قلهک</option>
                    <option value="هفت حوض">هفت حوض</option>
                    <option value="شهرک پاسداران">شهرک پاسداران</option>
                    <option value="فدک">فدک</option>
                    <option value="چهارصد دستگاه">چهارصد دستگاه</option>
                    <option value="امانیه">امانیه</option>
                    <option value="امامت">امامت</option>
                    <option value="شهرک آزادی">شهرک آزادی</option>
                    <option value="پاتریس لومومبا">پاتریس لومومبا</option>
                    <option value="مهرآباد جنوبی">مهرآباد جنوبی</option>
                    <option value="مخصوص">مخصوص</option>
                    <option value="وحیدیه">وحیدیه</option>
                    <option value="زرگنده">زرگنده</option>
                    <option value="دبستان">دبستان</option>
                    <option value="مشیریه">مشیریه</option>
                    <option value="آذری">آذری</option>
                    <option value="شاهد">شاهد</option>
                    <option value="جلیلی">جلیلی</option>
                    <option value="لویزان">لویزان</option>
                    <option value="شهرک امام خمینی">شهرک امام خمینی</option>
                    <option value="صفا">صفا</option>
                    <option value="شیوا">شیوا</option>
                    <option value="شهرک شهید باقری">شهرک شهید باقری</option>
                    <option value="شیان">شیان</option>
                    <option value="کاشانک">کاشانک</option>
                    <option value="آبشار تهران">آبشار تهران</option>
                    <option value="مجیدیه">مجیدیه</option>
                    <option value="سرخه حصار">سرخه حصار</option>
                    <option value="دانشگاه تهران">دانشگاه تهران</option>
                    <option value="خواجه نصیر طوسی">خواجه نصیر طوسی</option>
                    <option value="سرتخت">سرتخت</option>
                    <option value="کن">کن</option>
                    <option value="حشمتیه">حشمتیه</option>
                    <option value="درب دوم">درب دوم</option>
                    <option value="شهرک کوهسار">شهرک کوهسار</option>
                    <option value="استخر">استخر</option>
                    <option value="یاخچی‌آباد">یاخچی‌آباد</option>
                    <option value="دردشت">دردشت</option>
                    <option value="سنایی">سنایی</option>
                    <option value="اکباتان">اکباتان</option>
                    <option value="نبی اکرم(ص)">نبی اکرم(ص)</option>
                    <option value="اوقاف">اوقاف</option>
                    <option value="قاسم‌آباد">قاسم‌آباد</option>
                    <option value="امامزاده حسن(ع)">امامزاده حسن(ع)</option>
                    <option value="بهاران">بهاران</option>
                    <option value="کاروان">کاروان</option>
                    <option value="اسکندری">اسکندری</option>
                    <option value="قزل قلعه">قزل قلعه</option>
                    <option value="دولاب">دولاب</option>
                    <option value="بلورسازی">بلورسازی</option>
                    <option value="ایوانک">ایوانک</option>
                    <option value="ائمه اطهار">ائمه اطهار</option>
                    <option value="بهجت‌آباد">بهجت‌آباد</option>
                    <option value="ایرانشهر">ایرانشهر</option>
                    <option value="مجیدآباد">مجیدآباد</option>
                    <option value="شهرک سینمایی">شهرک سینمایی</option>
                    <option value="اوین">اوین</option>
                    <option value="قیام">قیام</option>
                    <option value="طوس">طوس</option>
                    <option value="جهاد">جهاد</option>
                    <option value="شهرک شریعتی">شهرک شریعتی</option>
                    <option value="حسن‌آباد">حسن‌آباد</option>
                    <option value="شهرک صدرا">شهرک صدرا</option>
                    <option value="عارف">عارف</option>
                    <option value="جماران">جماران</option>
                    <option value="ارامنه">ارامنه</option>
                    <option value="نظام‌آباد">نظام‌آباد</option>
                    <option value="تسلیحات">تسلیحات</option>
                    <option value="وصفنارد">وصفنارد</option>
                    <option value="آسمان">آسمان</option>
                    <option value="شهرک والفجر (منطقه ۶)">شهرک والفجر (منطقه ۶)</option>
                    <option value="فردوسی">فردوسی</option>
                    <option value="ابراهیم‌آباد">ابراهیم‌آباد</option>
                    <option value="دلگشا">دلگشا</option>
                    <option value="بازار">بازار</option>
                    <option value="ظهیرآباد">ظهیرآباد</option>
                    <option value="علی‌آباد">علی‌آباد</option>
                    <option value="ابن بابویه">ابن بابویه</option>
                    <option value="حمزه‌آباد">حمزه‌آباد</option>
                    <option value="قنات‌کوثر">قنات‌کوثر</option>
                    <option value="بهمن یار">بهمن یار</option>
                    <option value="میدان انقلاب">میدان انقلاب</option>
                    <option value="مینابی">مینابی</option>
                    <option value="بهارستان">بهارستان</option>
                    <option value="قیام‌دشت">قیام‌دشت</option>
                    <option value="خاک سفید">خاک سفید</option>
                    <option value="شهرک امید">شهرک امید</option>
                    <option value="فرحزاد">فرحزاد</option>
                    <option value="جوادیه تهرانپارس">جوادیه تهرانپارس</option>
                    <option value="بهداشت">بهداشت</option>
                    <option value="شمشیری">شمشیری</option>
                    <option value="شهرک کیانشهر">شهرک کیانشهر</option>
                    <option value="سیزده آبان">سیزده آبان</option>
                    <option value="ده‌ونک">ده‌ونک</option>
                    <option value="صفائیه (چشمه علی)">صفائیه (چشمه علی)</option>
                    <option value="خانی‌آباد نو">خانی‌آباد نو</option>
                    <option value="کوی نوبنیاد">کوی نوبنیاد</option>
                    <option value="فیروزآبادی">فیروزآبادی</option>
                    <option value="حافظیه">حافظیه</option>
                    <option value="شهرک دانشگاه تهران">شهرک دانشگاه تهران</option>
                    <option value="شهید آوینی">شهید آوینی</option>
                    <option value="شهرک آسمان">شهرک آسمان</option>
                    <option value="دهقان">دهقان</option>
                    <option value="سلامت">سلامت</option>
                    <option value="آرژانتین">آرژانتین</option>
                    <option value="شهید بروجردی">شهید بروجردی</option>
                    <option value="شهادت">شهادت</option>
                    <option value="بیسیم">بیسیم</option>
                    <option value="شهرک تختی">شهرک تختی</option>
                    <option value="زرکش">زرکش</option>
                    <option value="پامنار">پامنار</option>
                    <option value="حصارک">حصارک</option>
                    <option value="امام حسین(ع)">امام حسین(ع)</option>
                    <option value="لشکر">لشکر</option>
                    <option value="شیرازی">شیرازی</option>
                    <option value="شاندیز">شاندیز</option>
                    <option value="سعیدآباد">سعیدآباد</option>
                    <option value="امین حضور">امین حضور</option>
                    <option value="سیروس">سیروس</option>
                    <option value="جوانمرد قصاب">جوانمرد قصاب</option>
                    <option value="هزارسنگ">هزارسنگ</option>
                    <option value="مرادآباد">مرادآباد</option>
                    <option value="شمیران‌نو">شمیران‌نو</option>
                    <option value="گاندی">گاندی</option>
                    <option value="شهرک آپادانا">شهرک آپادانا</option>
                    <option value="شهرک طالقانی">شهرک طالقانی</option>
                    <option value="شهید رجایی">شهید رجایی</option>
                    <option value="زاهد گیلانی">زاهد گیلانی</option>
                    <option value="شهرک گلها">شهرک گلها</option>
                    <option value="اتحاد">اتحاد</option>
                    <option value="اسفندیاری">اسفندیاری</option>
                    <option value="زیبادشت">زیبادشت</option>
                    <option value="نجات اللهی">نجات اللهی</option>
                    <option value="سرآسیاب دولاب">سرآسیاب دولاب</option>
                    <option value="حسن‌آباد باقرفر">حسن‌آباد باقرفر</option>
                    <option value="قلمستان">قلمستان</option>
                    <option value="باغ آذری">باغ آذری</option>
                    <option value="ملک‌آباد">ملک‌آباد</option>
                    <option value="شهرک مسلمین">شهرک مسلمین</option>
                    <option value="نعمت‌آباد">نعمت‌آباد</option>
                    <option value="کریم‌آباد">کریم‌آباد</option>
                    <option value="صالح‌آباد شرقی">صالح‌آباد شرقی</option>
                    <option value="شهرک ابوذر">شهرک ابوذر</option>
                    <option value="مسگرآباد">مسگرآباد</option>
                    <option value="شهید اسدی">شهید اسدی</option>
                    <option value="شهرک غزالی">شهرک غزالی</option>
                    <option value="فتح">فتح</option>
                    <option value="شهرک فرهنگیان">شهرک فرهنگیان</option>
                    <option value="شهرک شریفی">شهرک شریفی</option>
                </select>

            </div>

            <!-- بخش متراژ -->
            <div class="form-group">
                <label>متراژ (مترمربع):</label>
                <input type="range" id="area" name="area" min="20" max="500" value="100">
                <div class="value-display"><span id="areaValue">100</span> متر</div>
            </div>

            <!-- بخش سال ساخت -->
            <div class="form-group">
                <label>سال ساخت:</label>
                <input type="range" id="year" name="year" min="1320" max="1403" value="1380">
                <div class="value-display"><span id="yearValue">1380</span></div>
            </div>

            <!-- بخش تعداد اتاق -->
            <div class="form-group">
                <label>تعداد اتاق:</label>
                <input type="range" id="rooms" name="rooms" min="1" max="5" value="3">
                <div class="value-display"><span id="roomsValue">3</span> اتاق</div>
            </div>

            <!-- بخش امکانات -->
            <div class="form-group">
                <label>امکانات:</label>
                <div class="checkbox-group">
                    <label><input type="checkbox" name="features" value="انبار"> انبار</label>
                    <label><input type="checkbox" name="features" value="پارکینگ"> پارکینگ</label>
                    <label><input type="checkbox" name="features" value="آسانسور"> آسانسور</label>
                </div>
            </div>

            <button type="submit" class="submit-btn">محاسبه قیمت</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>